pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_Azure_SqlDB",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "personid",
									"type": "String",
									"value": "1",
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "select  personid from persons \n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00",
					"logSettings": {
						"logDestination": "ActivityOutput"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Script1').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "namedata",
								"value": {
									"value": "@{item().personid}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"scrMsg": {
				"type": "Array"
			},
			"namedata": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-14T17:39:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}